<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TM</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="allTable">
<h2>Отделы</h2>
<table class="table" id="DepartmentTable">
    <thead>
    <tr>
        <th>#</th>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department: ${departments}" style="cursor: pointer"
        th:onclick="'javascript:rowClicked(\'' + ${department.id} + '\');'">
        <td th:text="${department.id}"></td>
        <td th:text="${department.name}"></td>
    </tr>
    </tbody>
</table>
</div>
<script>
    function rowClicked(value) {
        location.href = "/department/" + value;
    }

    $(document).ready(function () {
        $('#DepartmentTable').DataTable({
            order: false,
            pageLength: 10,
            searching: true,
            bLengthChange: false,
            ordering: false,
            language: {
                "emptyTable": "Задач нет",
                "lengthMenu": "Отоброжать _MENU_ записей на страницу",
                "zeroRecords": "Задач по данному фильтру не найдено",
                "info": "Страница _PAGE_ из _PAGES_",
                "infoEmpty": "Страница 0 из 0",
                "search": "Поиск",
                "infoFiltered": "",
                "paginate": {
                    "next": '&#8594;',
                    "previous": '&#8592;'
                }
            }
        });
    });
</script>
</body>
</html>